
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/Concordia-For-Students.iml
.idea/modules.xml
.idea/vcs.xml
Concordia For Students/.idea/misc.xml
Concordia For Students/.idea/misc.xml
Concordia For Students/.idea/misc.xml
Concordia For Students/app/.idea/gradle.xml
Concordia For Students/app/.idea/vcs.xml
Concordia For Students/app/.idea/misc.xml
